/* filepath: /Users/hsawhney/Developer/GitRepositories/GitHub/eurobnb-insights/dv-react-app/src/styles/MapComponent.css */
.custom-marker .marker-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 100px;
    height: 40px;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    font-weight: bold;
  }
  
  .custom-marker .marker-button:hover {
    background-color: #0056b3;
  }